<% content_for :title, "Welcome Back, #{current_user.name}"  %>
<h2>Hello <%= current_user.name %></h2>

<% if current_user %>
    <p><%= link_to "Passwords", passwords_path %></p>
<% end %>

<%= image_tag "logo.png" %>
