<h1>Passwords</h1>

<div class="password-list">
  <% @passwords.each do |p| %>
    <section class="password">
      <h2><%= p.app %></h2>

      <div class="password-value">
        <%= p.password %>
      </div>
    </section>
  <% end %>
</div>
