<div class="offcanvas offcanvas-end glass-offcanvas"
  tabindex="-1"
  id="helpOffcanvas">

  <div class="offcanvas-header glass-offcanvas-header">
    <h5 class="offcanvas-title">How to use</h5>

    <button type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <div class="glass-section">
      <h6>🔑 Add Password</h6>
      <p>Use the sidebar button to add a new password.</p>
    </div>

    <div class="glass-section">
      <h6>📋 Copy</h6>
      <p>Click copy button next to password fields.</p>
    </div>
  </div>
</div>
