<aside class="sidebar">
  <nav class="nav">
    <%= link_to "Dashboard", root_path %>
    <%= link_to "Passwords", passwords_path %>
    <%= link_to "Logout", logout_path, data: { turbo_method: :delete } %>
  </nav>
</aside>
